#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/

#netbeans ignore distribution as it can be built from source
dist/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
