/* 
    Document   : stylesheet
    Created on : Jun 25, 2011, 5:42:36 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/



body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    width: 650px;
}

h1 {
    letter-spacing: 6px;
    font-size: 1.6em;
    color: #be7429;
    font-weight: bold;
}

h2 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table {
    padding: 1px;
    background-color: #eff0ef;
}

td {
    padding: 5px;
}

a {
    color: #be7429;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.popupBox {
    position: absolute;
    top: 170px;
    left: 140px;
}

.popupCell {
    background-color: #fffafa;
}

.popupCell:hover {
    background-color: #f5ebe9;
}

.popupItem {
    color: #333;
    text-decoration: none;
    font-size: 0.8em;
}

/* By Sam */
code {

    font-family: monospace;
    color: #666666;
}

smallNote {
    font-size: 0.9em;
    font-family: sans-serif;
}

li {
    padding-bottom: 8px;
}

normalText {
    
}
normalText:hover {
    text-decoration: underline;
}