/* 
    Document   : stylesheet
    Created on : Jun 25, 2011, 5:42:36 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/



body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    width: 650px;
}

h1 {
    letter-spacing: 6px;
    font-size: 1.6em;
    color: #be7429;
    font-weight: bold;
}

h2 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
    width: 450px;
}

table {
    padding: 1px;
    background-color: #eff0ef;
    -moz-border-radius: 5px;
    border-radius: 10px;
}
tbody {
    vertical-align: top;
}

td {
    padding: 5px;
}

a {
    color: #be7429;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


code {

    font-family: monospace;
    color: #666666;
}

smallNote {
    font-size: 0.9em;
    font-family: sans-serif;
}

li {
    padding-top: 4px;
    padding-bottom: 4px;
}

normalText {
    
}
normalText:hover {
    border-bottom-style: dotted;
    border-bottom-color: #ffcc33;
    color: #ab6f00;
}

/* Dim switch */
doop{
    position: absolute;
    top: 0%;
    z-index: 10;
    left: 0%;
    width: 100%;
    background-color: #51582a;
    height: 200%;
    opacity: 0.6;
    display: none;
}

table.popupBox {
    position: absolute;
    top: 200px;
    z-index: 12;
    border-right-color: #732d2d;
    border-left-color: #732d2d;
    border-bottom-color: #732d2d;
    border-top-color: #732d2d;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    background-color: #cccccc;
    right: 100px;
    width: 600px;
}

td.popupBox {
    padding: 5px;
    background-color: #f9f3df;
    clip: rect(0px, 0px, 0px, 0px);
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-right-style: outset;
    border-left-style: outset;
    border-bottom-style: outset;
    border-top-style: outset;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



input:focus {
    background-color: #fbf5c0;
}